h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

form {
    margin: 1rem 1rem;
}

form input, select{
    height: 1.5rem;
    width: 200px;
    margin: 0.5rem 0;
}

