h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 223px;
    background-color: #27aedb;
    text-transform: uppercase;
    letter-spacing: 3px;
}

button:hover {
    background-color: #3cb3db;
}

form {
    margin: 1rem 1rem;
    width: fit-content;
    padding: 2rem;
    background-color: aliceblue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form input, select{
    height: 1.5rem;
    width: 200px;
    margin: 0.5rem 0;
    padding: 5px 10px;
}

select {
    width: 223px;
    height: 2.4rem;
}
